{% extends 'layouts/base.html.twig' %}

{% set title = 'Forum' %}

{% block content %}
    <table class="table is-bordered category-list">
        <thead>
        <tr>
            <td>Category</td>
            <td>Last Comment</td>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td class="category">
                    <a href="{{ path('category_topics', { category: category.id }) }}">{{ category.name }}</a>
                    <div>{{ category.description }}</div>
                </td>
                <td class="last-comment">
                    {% include 'partials/_last_comment.html.twig' with {
                        lastComment: latestComments[category.id]
                    } only %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}