<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Symfony Forum</strong> is a forum powered by <a href="http://symfony.com" target="_blank">Symfony</a>.
            </p>
            <p>
                <a class="icon" href="#">
                    <i class="fa fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</footer>