/* Table categories */
.category-list .category a {
    font-size: 18px;
}
.category-list .category div {
    font-weight: 300;
}
.category-list .last-comment {
    width: 30%;
}

/* Table topic list */
.topic-list .last-comment {
    width: 30%;
}
.topic-list td.topic {
    font-size: 14px;
}
.topic-list td.topic a {
    font-size: 16px;
}

/* Table thread */
table.thread .author {
    width: 20%;
}
table.thread .author .username {
    font-weight: bold;
    font-size: 18px;
}
table.thread .author .info {
    font-size: 12px;
}
table.thread .comment {
    padding: 0;
    background-color: transparent;
}
table.thread .comment .date {
    padding: .3em .75em;
    background-color: #F5F5F5;
    border-bottom: 1px solid #dbdbdb;
    font-size: 14px;
}
table.thread .comment .content {
    padding: .8em .75em;
    margin-bottom: 0;
}
table.thread .comment .actions {
    padding: 0.3em .75em;
}
table.thread .comment .actions .fa {
    font-size: 16px;
}

/* last comment  */
td.last-comment {
    font-size: 14px;
}
td.last-comment i.fa {
    vertical-align: baseline;
    font-size: 16px;
}