{% extends 'layouts/admin.html.twig' %}

{% block content %}

    <div class="columns">
        <div class="column is-three-quarters">

            {% for message in app.session.flashBag.get('notice') %}
                <div class="notification is-success">
                    {{ message }}
                </div>
            {% endfor %}

            {{ form_start(form) }}

            {{ form_rest(form) }}

            <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field">
                        <div class="control inline">
                            <button type="submit" class="button is-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}